<div class="form">
  <div class="form-details">
    <h2>管理者用ログイン</h2>
    <%= form_with(url: admin_login_path, scope: :session, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="login">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
