<p class="user-profile-main-block-title"><%= @user.name %>さんのお気に入り投稿一覧<p>
        <div class="favorite">
          <% if @favorites.present? %>
            <% @favorites.each do |favorite| %>
              <div class="post-all-division-top">
                <%= link_to user_path(favorite.post.user) do %>
                  <p><%= image_tag favorite.post.user.icon.url, class: "icon", :size => "50x50"%></p>
                <% end %>
                <%= link_to post_path(favorite.post), class: "link-style" do %>
                  <p class="favorite-post-title"><%= favorite.post.title %></p>
                <% end %>
                <span class=favorite-btn>
                  <i class="fas fa-2x fa-thumbs-up"></i>
                  <%= favorite.post.favorites.count %>
                </span>
              </div>
            <% end %>
          <% else %>
            <p>お気に入りした投稿はありません。<p>
          <% end %>
        </div>