<div class="form">
  <div class="form-details">
<h2>プロフィール編集</h2>
<% provide(:button_text, 'プロフィールを編集する') %>
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :icon, "プロフィール画像" %>
        <div>
          <%if @user.icon.present? %>
            <%= image_tag @user.icon.url, class: "icon", :size => "100x100" %>
          <% else %>
            <%= image_tag "icon.jpg", class: "icon", :size => "50x50" %>
          <% end %>
        </div>
        <%= f.file_field :icon, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :profile, "プロフィール" %>
        <%= f.text_area :profile, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :good_point, "英語力がアップして良かった点" %>
        <%= f.text_area :good_point, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="account-delete">
    <%= link_to "アカウント削除", user_path, method: :delete, data: { confirm: "アカウントを削除しますか?" }, class: "btn delete"%>
  </div>
</div>
<%= link_to "戻る", user_path(current_user) %>