<section class="user_profile">
  <div class="user_profile-top">
    <% if @user.icon? %>
      <%= image_tag @user.icon.url, class: "icon", :size => "100x100" %>
    <% end %>
    <p class="name"><%= @user.name %>さんのページ</p>
  </div>
  <ul>
    <%= link_to "TOP", "#" %>
    <%= link_to "投稿", "#" %>
    <%= link_to "お気に入り", "#" %>
    <% if @user == current_user %>
      <%= link_to "設定", edit_user_path(current_user) %>
    <% end %>
  </ul>
  <h3>プロフィール</h3>
  <div>
    <h4>自己紹介</h4>
    <%= @user.profile %>
  </div>
  <div>
    <h4>英語力がアップして良かったこと</h4>
    <%= @user.good_point %>
  </div>
</section>