<section class="user-profile">
  <div class="user-profile-main">
    <div class="user-profile-top">
      <div>
        <% if @user.icon? %>
          <%= image_tag @user.icon.url, class: "icon", :size => "100x100" %>
        <% else %>
          <%= image_tag "icon.jpg", class: "icon", :size => "50x50" %>
        <% end %>
      </div>
      <div class="name">
        <%= @user.name %>さんのページ
      </div>
    </div>
    <%= render "tab_menu" %>
    <div class="content-area">
      <div class="user-profile-main-block content show">
        <div class="user-profile-main-block-title">
          <h3>プロフィール</h3>
        </div>
        <div class="user-profile-main-block-detail">
          <div>
            <h4>自己紹介</h4>
            <div class="user-profile-main-block-detail-content">
              <%= @user.profile %>
            </div>
          </div>
          <div>
            <h4>英語力がアップして良かったこと</h4>
            <div class="user-profile-main-block-detail-content">
              <%= @user.good_point %>
            </div>
          </div>
        </div>
        <div class="user-profile-main-block">
          <div class="user-profile-main-block-title">
            <h3>投稿</h3>
          </div>
          <div class="user-profile-main-block-post">
            <% @posts.each do |post| %>
              <div class="post-all-division">
                <div class="post-title">
                  <%= link_to post_path(post) do %>
                    <p><%= post.title %></p>
                  <% end %>
                  <span class="date">(<%= post.created_at.strftime('%Y/%m/%d') %>)</span>
                </div>
                <div class="post-content">
                  <div class="category-tag">
                    <%= post.category.name %>
                  </div>
                  <p class="post-content-title">
                    <%= post.title %>
                  </p>
                  <div class="post-body">
                    <%= post.content.truncate(40) %>
                    <%= link_to "続きを読む", post_path(post) %>
                  </div>
                  <div class="post-content-bottom">
                    <p class="comment-btn">
                      <%= link_to post_path(post) do %>
                        <i class="far fa-comment-dots">コメント<%= post.comments.count %>件</i>
                      <% end %>
                    </p>
                    <span class="favorite-btn">
                      <i class="fas fa-2x fa-thumbs-up"></i>
                      <%= post.favorites.count %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class= "post-all-view">
            <%=link_to "すべての投稿を見る", posts_path(user_id: @user) %><i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="content post-all">
        <%= render "post_all" %>
      </div>
      <div class="content">
        <%= render "favorite_all" %>
      </div>
    </div>
  </div>
</section>