<div class="top-page">
  <div class="top-page-text">
    <h1>さあ、英語力伸ばさない？</h1>
  </div>
  <div class="search">
    <p>キーワードから探す</p>
    <%= form_tag(search_posts_path, :method => 'get') do %>
      <%= text_field_tag :search, params[:search], placeholder: "(例)TOEIC",  class: "hoge" %>
      <%= button_tag '<i class="fas fa-search"></i>検索'.html_safe, :type => "submit", :class =>"btn btn-default btn-s-md" %>
    <% end %>
  </div>
</div>
<main>
<section class="category menu-block">
  <p class="menu-block-title">カテゴリーから探す</p>
  <ul class="category-menu">
    <li>
      <%= link_to posts_path(category_id: 1), class: "link-style" do %>
        <i class="reading fas fa-book fa-4x"></i>
        <p>リーディング</p>
      <% end %>
    </li>
    <li>
      <%= link_to posts_path(category_id: 2), class: "link-style" do %>
        <i class="listenig fas fa-headphones fa-4x"></i>
        <p>リスニング</p>
      <% end %>
    </li>
    <li>
      <%= link_to posts_path(category_id: 3), class: "link-style" do %>
        <i class="writing fas fa-pencil-alt fa-4x"></i>
        <p>ライティング</p>
      <% end %>
    </li>
    <li>
      <%= link_to posts_path(category_id: 4), class: "link-style" do %>
        <i class="speaking fas fa-comments fa-4x"></i>
        <p>スピーキング</p>
      <% end %>
    </li>
  </ul>
</section>
<section class="menu-block">
  <p class="menu-block-title">新着投稿一覧</p>
  <article>
    <% if @posts.present? %>
      <div class="user-profile-main-block">
        <div class="user-profile-main-block-post">
          <% @posts.first(3).each do |post| %>
            <div class="post-all-division">
              <div class="post-all-division-top">
                <% if post.user.icon? %>
                  <%= image_tag post.user.icon.url, class: "icon", :size => "40x40" %>
                <% else %>
                  <%= image_tag "icon.jpg", class: "icon", :size => "40x40" %>
                <% end %>
                <div class="post-title">
                  <div class="post-all-division-top-user">
                    <%= link_to user_path(post.user), class: "link-style" do %>
                      <%= post.user.name %>さんの投稿
                      <span class="date">(投稿日:<%= post.created_at.strftime('%Y/%m/%d') %>)</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="post-content">
                <p class="post-content-title"><%= post.title %></p>
                <div class="post-body">
                  <%= post.content.truncate(40) %>
                  <%= link_to "続きを読む", post_path(post) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class= "post-all-view">
          <%=link_to "すべての投稿を見る", posts_path(@user) %><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    <% end %>
  </article>
</section>
<section class="menu-block">
  <p class="menu-block-title">投稿数が多いユーザー</p>
  <div class="user-all-info">
    <% @ranking_users.each do |user| %>
      <div class=user-all-info-division>
        <%=link_to user_path(user), class: "link-style" do %>
          <%= image_tag user.icon.url, class: "icon", :size => "100x100" %>
          <div>
            <%= user.name %>
            <%= user.posts.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="menu-block">
  <p class="menu-block-title">お気に入り数が多い投稿</p>
    <div class="post-others-each">
      <% @ranking_posts.each do |post| %>
        <%= link_to post_path(post), class: "link-style" do %>
          <div class="post-title">
            <p><%= post.title %></p>
            <%= post.favorites.count %>
          </div>
        <% end %>
      <% end %>
    </div>
</section>
</main>
<aside>
  <div class="user-all">
    <p>＼とっておきの英語の勉強方法を共有しよう／</p>
    <p>ENPROVEに登録すると、あなたの英語の勉強方法を投稿することが出来ます。</p>
    <%= link_to new_user_path do %>
      <button type="button" class="btn btn-gold btn-sm text-white">無料会員登録</button>
    <% end %>
  </div>
</aside>


