<div class="post-form-details">
  <div class="form-details-post">
    <%= form_with(model:@post, local:true) do |f| %>
      <%= render "layouts/error_message", model: f.object %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :category_id, "カテゴリー" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "カテゴリを選択してください" %>
      </div>
      <div class="form-group">
        <%= f.label :content, "勉強方法" %>
        <%= f.text_area :content %>
      </div>
      <div class="form-group post">
        <%= f.submit yield(:button_text), class: "btn btn-primary w-20" %>
      </div>
    <% end %>
  </div>
</div>