<div class="sort">
  <%= form_with model: @post, url: sort_posts_path, method: :get, local: true do |f| %>
    <%= f.select :keyword, [["投稿が新しい順", "new"], ["投稿が古い順", "old"], ["いいねが多い順", "likes"], ["コメントが多い順", "comment"]], include_blank: "選択して下さい" %>
    <%= f.submit '並び替え' %>
  <% end %>
</div>
<article>
  <% if @posts.present? %>
    <div class="user-profile-main-block">
      <div class="user-profile-main-block-post">
        <% @posts.each do |post| %>
          <div class="post-all-division">
            <div class="post-all-division-top">
              <% if post.user.icon? %>
                <%= image_tag post.user.icon.url, class: "icon", :size => "40x40" %>
              <% else %>
                <%= image_tag "icon.jpg", class: "icon", :size => "40x40" %>
              <% end %>
              <div class="post-title">
                <div class="post-all-division-top-user">
                  <%= link_to user_path(post.user), class: "link-style" do %>
                    <%= post.user.name %>さんの投稿
                    <span class="date">(投稿日:<%= post.created_at.strftime('%Y/%m/%d') %>)</span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="post-content">
              <div class="category-tag">
                <%= post.category.name %>
              </div>
              <p class="post-content-title"><%= post.title %></p>
              <div class="post-body">
                <%= post.content.truncate(40) %>
                <%= link_to "続きを読む", post_path(post) %>
              </div>
              <div class="post-content-bottom">
                <p class="comment-btn">
                  <%= link_to post_path(post) do %>
                    <i class="far fa-comment-dots">コメント<%= post.comments.count %>件</i>
                  <% end %>
                </p>
                <span class="favorite-btn">
                  <i class="fas fa-2x fa-thumbs-up"></i>
                  <%= post.favorites.count %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</article>