<article>
  <div>
    <div>
      <%= link_to user_path(@user), class: "link-style" do %>
        <%= image_tag @user.icon.url, class: "icon", :size => "100x100" %>
      <% end %>
    </div>
    <p class="post-all-division-user"> 投稿者：<%= @user.name %></p>
  </div>
  <div>
    <p class="post-title">
      <%= @post.title %>
    </p>
    <span>
      <%= render "favorites/favorite", post: @post %>
    </span>
    <div class="post-info-content">
      <%= @post.content %>
    </div>
  </div>
</article>
<div>
  <p><%= ＠comments_count %>件のコメント</p>
  <% @comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.content %>
  <% end %>
</div>