<section class="post-all">
<div class="post-all-division">
      <%= link_to user_path(@user), class: "link-style" do %>
        <%= image_tag @user.icon.url, class: "icon", :size => "100x100" %>
        <p class="post-all-division-user"> 投稿者：<%= @user.name %></p>
      <% end %>
    </div>
      <div>
        <div class="post-title">
          <%= @post.title %>
        </div>
        <div>
          <span><%= l @user.created_at %></span>
          <!--お気に入り機能-->
          <%= render "favorites/favorite", post: @post %>
        </div>
  <div class="post-info-content">
    <%= @post.content %>
  </div>
  <%= @post.material %>
</div>
</section>
