<div class="menu-block">
  <h2>お問合せ確認画面</h2>
  <%= form_for @contact, :url => contact_thanks_path do |f| %>
    <div class="form">
      <div class="form-details">
        <div class="form-group">
          <p>お名前</p>
          <%= f.hidden_field :name %>
          <%= @contact.name %>
        </div>
        <div class="form-group">
          <p>お問合せ内容</p>
          <%= f.hidden_field :message %>
          <%= simple_format(@contact.message) %>
        </div>
        <%= f.submit '送信', :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
