<div class="menu-block">
  <h2>お問合せ</h2>
  <%= form_for @contact, :url => contact_confirm_path do |f| %>
    <%= render "layouts/error_message", model: f.object%>
    <div class="form">
      <div class="form-details">
        <div class="form-group">
          <%= f.label :name, "お名前(必須)" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス(必須)" %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :message, "お問い合わせ内容" %>
          <%= f.text_area :message, class: 'form-control contact-post' %>
        </div>
        <%= f.submit '確認', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>